
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');


body{
    margin: 0px;
    padding: 0px;
    background:url('img/w.jpg') ;
    font-family: 'Prompt', sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    width:max-content;

    /* background-repeat: no-repeat; */

}

.right{
    padding-top: 72px;
    padding-left: 300px;
    
}
#language{
    font-size: 20px;
    font-weight:900;
    border: none;
    background:none;
    color: white;
    cursor: pointer;
    
}
option{
    color: grey;
    border: none;
    cursor: pointer;
    font-weight: 900;
  
   
}
option:hover{
    background:rgb(11, 214, 119); 
   
}

.logo{
    width: 10vw;
    padding-left: 35px;
    padding-top: 37px;
    display: flex;
    cursor: pointer;
   
}
.mid ul{
    display:flex;
    list-style: none;
    padding: 5vw;
    padding-top: 2vw;

}

.header{
    display: flex;
   
}
ul li{
    /* display: inline-block;  this property helps to maintain the value in a straight line */
    /* display: flex; */
    padding: 2vw;
    
}
ul li a{
     /* display: inline-block; this property helps to maintain the value in a straight line */
    text-decoration: none;
    color: white;
    
    
    
}
ul li a:hover{
    color:rgb(11, 214, 119);
}
.container{
    padding: 1vw;
    margin: 8vw;
    
}
.container .color{
    color: rgb(11, 214, 119);

}
.container h1{
    color: white;
}
.container h4{
    color: white;
}

.subhead h4{
    margin:auto;
    width: auto;
   
    
}
.head h1{
    margin:auto;
   
    
} 
.subhead{
    padding-top: 2vw;
   
}
button{
   
   margin-top: 4vw;
   border: 7px;
   cursor: pointer;
   border-radius: 7px;
   font-size: 20px;
   font-weight: 900;
   background-color:rgb(11, 214, 119); 
   color: white;
   padding: 2vw;
   
}
button:hover{
   background-color:rgb(3, 88, 49);  
}